# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Logs
*.log

# Uploads
static/uploads/

# Database
*.sqlite3